<header>
  <h2 class="title">
    <%= link_to article.title, article %>
  </h2>
  <div class="meta">
    <span class="dates">
      <i class="fa fa-calendar-o"></i> <span class='date'><%= article.date.strftime("%b %d, %Y") %></span>
    </span>
    <span class="tags">
      <i class="fa fa-tags"></i>
      <% article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %>
    </span>
  </div>
</header>

<div class="content">
  <%= article.summary %>

  <p>
    ......
  </p>
  <p>
    <%= link_to "Read more →", article %>
  </p>
</div>