---
pageable: true
per_page: 5
---

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article>
    <h3>
      <%= link_to article.title, article %>
      <span class="pull-right"><%= article.date.strftime('%b %e') %></span>
    </h3>
    <div>
      <div class="pull-right comments">
        <img src="/images/comments.png"/>
        <a href="<%= article.url %>#disqus_thread" data-disqus-identifier="<%= disqus_identifier(article) %>">
        </a>
      </div>
      <ul class="tag-list">
        <% article.tags.each do |tag| %>
          <li><%= tag %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= article.summary %>

      <p>
        ......
      </p>
      <p>
        <%= link_to "Read more →", article %>
      </p>
    </div>
  </article>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'yedingding'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
